<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="all">
            <directory>./tests/src</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/Enhancer</directory>
        </include>
    </source>
</phpunit>
