Source: abraflexi-enhancer
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12), php-curl
Standards-Version: 4.5.0
Homepage: https://github.com/Vitexus/EnhancerOverview
#Vcs-Git: https://salsa.debian.org/debian/abraflexi-enhancer.git
#Vcs-Browser: https://salsa.debian.org/debian/abraflexi-enhancer

Package: abraflexi-enhancer
Architecture: all
Depends: ${shlibs:Depends}, composer-debian, php-spojenet-abraflexi, php-vitexsoftware-ease-bricks, php-vitexsoftware-abraflexi-bricks, php-vitexsoftware-ease-bootstrap5-widgets, php-vitexsoftware-ease-bootstrap5-widgets-abraflexi,php-vitexsoftware-abraflexi-bricks(>=1.2)
	${misc:Depends}
Description: Convert Invoice Items to pricelist Item
 External Application for AbraFlexi. Also store Supplier prices.
