#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@  

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//' `'"'  debian/composer.json |sponge debian/composer.json
	dh_install
	sed -i -e '/require_once/c\require_once "\/var\/lib\/composer\/abraflexi-enhancer/autoload.php";' debian/abraflexi-enhancer/usr/share/abraflexi-enhancer/*.php
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'            	        debian/abraflexi-enhancer/usr/share/abraflexi-enhancer/init.php
	sed -i -e 's/\.\./\/etc\/abraflexi/g'                                   debian/abraflexi-enhancer/usr/share/abraflexi-enhancer/init.php
	sed -i -e "/MODULE_PATH/c\define('MODULE_PATH', '/usr/lib/abraflexi-enhancer/modules');"          debian/abraflexi-enhancer/usr/share/abraflexi-enhancer/init.php
	sed -i -e 's/\.\./\/usr\/lib\/abraflexi-enhancer/'       debian/abraflexi-enhancer/usr/lib/abraflexi-enhancer/Enhancer/Digestor.php
